* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  
  }
  
  h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  hr {
    width: 65%;
    margin: 0 auto;
    height: 1px;
    background-color: #000000f5;
    border: none;
  }
  
  .cash-container {
    width: 70%;
    margin: 10px auto;
    padding: 15px 0;
    border-radius: 10px;
    background: #f1f1f1;
    box-shadow: 0 5px 7px 0 #222020;
  }
  
  .indrawer-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  
  .cid {
    display: flex;
    flex-direction: column;
  }
  
  #currency-nodes {
    padding: 10px 0;
    width: 65%;
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }
  
  .inputvalue {
    padding: 20px 0;
    margin: 0 auto;
  }
  
  #form {
    width: 69%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }
  
  label {
    padding: 10px 0;
  }
  
  .bill,
  .payment {
    width: 200px;
  }
  
  input {
    padding: 10px;
  }
  
  .change-btn {
    display: flex;
    justify-content: center;
  }
  
  .submit {
    margin-top: 30px;
    padding: 10px 25px;
    cursor: pointer;
    color: #000;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 3px 8px #000;
  }
  
  .input {
    width: 70px;
  }
  
  .display-text {
    margin: 0 auto;
  }
  
  h3 {
    padding: 25px 0 15px 0;
    text-align: center;
  }
  
  p {
    text-align: center;
    padding: 10px 0;
  }
  
  .display-currency-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .display {
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .all-iterms {
      width: 96vw;
    }
  
    #form {
      display: flex;
      flex-direction: column;
      margin-right: 80px;
    }
  
    hr {
      width: 90%;
    }
  
    .name,
    .pay,
    .bill,
    .payment {
      margin: 0 auto;
    }
  }